<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="Loginacc">
<h1>Sign in</h1>
<form action="http://localhost:4001/v1/user/login" method="POST">
    <% if(message !== null){ %>
        <div class="error">
            <p class="message"><%= message %></p>
            <p class="close" id="close">X</p>
        </div>
        <%} %>
    <input type="text" name="username" placeholder="Usename" required/>
    <input type="password" name="password" placeholder="********" required/>
    <button>SIGN IN</button>  
    <p class="registerAcc">Create an account? <a href="/v1/user/register">Register</a></p>
    
</form>
</div>
</body>
</html>