<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   
<div class="Loginacc">
<h1>Register Account</h1>
<form action="http://localhost:4001/v1/user/register" method="POST" class="form">
    <% if(message !== null){ %>
        <div class="error">
            <p class="message"><%= message %></p>
            <p class="close" id="close">X</p>
        </div>
        <%} %>
    <input type="text" name="username" placeholder="Username" value="" required/>
    <input type="email" name="email" placeholder="abc@gmail.com" required/>
    <input type="password" name="password" placeholder="********" required/>
    <button>Register</button>  
    <p class="registerAcc">Have an account? <a href="/v1/user/login">Login</a></p>
</form>
</div>

<script>
    document.querySelector('.form').addEventListener('click', event => {
        let closeID = event.target.id
        if(closeID === 'close'){
            document.querySelector('.error').style.display ='none'
        }
    })
</script>
</body>
</html>