*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: cornsilk;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}
.Loginacc {
 width: 600px;
 max-width: 90%;
 text-align: center;
 background-color:rgb(255, 255, 255);
 padding: 30px;
 border-radius: 15px;
}
.Loginacc > form >input {
    width: 90%;
    padding: 15px;
    background-color:white;
    color: black;
    border: 2px solid #989090;
    margin: 15px 5px;
    border-radius: 5px;

}
.Loginacc > form >button {
    background-color: rgb(231, 231, 231);
    padding: 15px;
    width: 90%;
    border: 0;
    color:rgb(19, 19, 19);
}   
.error{
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(253, 119, 119);
    border-radius: 5px;
    margin-bottom: 10px;
}
.message{
    position: relative;
    color:white ;
    margin-left: 15px;
    margin-right: 15px;
}
.close {
    position: relative;
    margin-right: 15px;
    color:black;
    text-align: center;
    cursor: pointer;
}